// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//FontAwesome
// $fa-font-path:        "../webfonts";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// @import "~@fortawesome/fontawesome-free/scss/regular.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";

// .user {
//     @extend %fa-icon;
//     @extend .fas;
  
//     &:before {
//       content: fa-content($fa-var-user);
//     }
//   }
  
//   .twitter {
//     @extend %fa-icon;
//     @extend .fab;
  
//     &:before {
//       content: fa-content($fa-var-twitter);
//     }
//   }

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar{
    background-color: #ffffff !important;
}
h2,h3,a,p{
    color: #ffffff;
}

a:hover{
    text-decoration: none;
}

.excerpt{
    color: #c0cad4;
}

.card{
    background-color: #26284a;
}

label .card-header, .card-body, #app{
    color: #c0cad4;
}
.card-header{
    background-color: #474866;
}


.counters{
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong{
        display: block;
        font-size: 2em;
    }
    .vote, .answer{
        width: 60px;
        height: 60px;
        color: #c0cad4;
    }
    .status{
        &.unanswered{
            border: none;
        }
        &.answered{
            border: 1px solid $green;
            color: $green;
        }
        &.answered-accepted{
            background-color: $green;
            color: $white;
        }
    }

    .view{
        margin-top: 10px;
        color: #c0cad4;
    }
}

form.form-delete{
    display: inline;
}

.vote-controls{
    min-width: 60px;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;

    span,a {
        display: block;
    }
    span {
        &.votes-count{
            font-size: 25px;
        }
        &.favourites-count{
            font-size: 12px;
        }
    }

    a {
        cursor: pointer;
        color: #ffffff;

        &.off, &.off:hover{
            color: $gray-500;
        }

        &.favourite{
            &.favourited, &.favourited:hover{
                color: $warning;
            }
        }
        &.vote-accepted, &.vote-accepted:hover{
            color: #2d9cca;
            
        }

        
    }
    
}

.post{
    padding: 20px 0;
    &:not(:last-child) {
        border-bottom: 1px solid rgba($color: #fffdfd, $alpha: .1);

    }
}

[v-cloak] {
    display: none;
}

.nav-tabs .nav-link.active{
    color: #ffffff;
    border-color: #232546;
}
.card-header {
    background-color: #282b56;
}